<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
	<div th:fragment="menu">

	  <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')" th:href="${rootpath}+'index.html'">Omni</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--
            <li><a th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')" th:href="${rootpath}+'index.html'">Home</a></li>
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="omni-overview.html">Omni Overview &amp; History</a></li>
                <li><a href="omni-faq.html">FAQ</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Getting Started</li>
                <li><a href="http://www.omnilayer.org/" target="_blank">Get a Wallet</a></li>
                <li><a href="exchanging.html">Exchanging Omni and Omni Assets</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Community</li>
                <li><a href="http://blog.omni.foundation" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp; Omni Foundation Blog</a></li>
                <li><a href="http://www.omnilayer.org/" target="_blank">Social Media</a></li>
                <li><a href="contributing.html">Become a Contributor</a></li>
                <li><a href="http://www.omnilayer.org/" target="_blank">Omni Team</a></li>
             </ul>
            </li>
            <li><a th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')" th:href="${rootpath}+'omni-white-paper.html'">Whitepaper</a></li>
            <li><a th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')" th:href="${rootpath}+'omni-protocol-specification.html'">Specification</a></li>
            <!--
            <li><a th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')" th:href="${rootpath}+${config.feed_file}">Subscribe</a></li>
            -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="divider"></li>
                <li class="dropdown-header">Omni Core</li>
                <li><a href="https://github.com/OmniLayer/omnicore" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp; Github Project / README</a></li>
                <li><a href="https://github.com/OmniLayer/omnicore/blob/omnicore-0.0.10/src/omnicore/doc/rpc-api.md" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp; RPC API</a></li>
                 <li class="divider"></li>
                <li class="dropdown-header">Omniwallet</li>
                <li><a href="https://github.com/OmniLayer/omniwallet" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp; Github Project / README</a></li>
                <li><a href="https://github.com/OmniLayer/omniwallet#read-api-http-get" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp; REST API</a></li>
                <li class="dropdown-header">OmniJ</li>
                <li><a href="https://github.com/OmniLayer/OmniJ" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp; Github Project / README</a></li>
                <li><a href="https://ci.omni.foundation/job/OmniJ/ws/build/adoc/omnij-devguide.html" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp; Developer's Guide</a></li>
                <li><a href="https://ci.omni.foundation/job/OmniJ/javadoc/" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>&nbsp;&nbsp; JavaDoc API</a></li>
             </ul>
            </li>
            <li><a th:with="rootpath=(${content.rootpath != null} ? ${content.rootpath} : '')" th:href="${rootpath}+'blog.html'">News</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	</div>
  	</body>
</html>
